<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">Cadastro de profissões</span>
                </div>
            </div>
            <div class="portlet-body form">
                <br/>
                <form role="form"
                (submit)="save()">
                <div class="form-body">
                    <div class="col col-md-6">
                        <div class="form-group">
                            <label>Profissão</label>
                            <div class="input-group">
                                <span class="input-group-addon input-circle-left">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </span>
                                <input
                                        type="text"
                                        name="name"
                                        [(ngModel)]="occupation.name"
                                        class="form-control input-circle-right"
                                        placeholder="Ex: Analista de Sistemas">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn blue">Cadastrar</button>
                    <button type="reset" class="btn red">Limpar</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>