<div class="menu-wrapper">
  <div class="left-container">
    <a routerLink="/mailing" class="back">
      <i class="fa fa-arrow-left"></i>
    </a>
    <label class="menu-toggle-icon">
      <input type="checkbox">
      <span routerLink="/mailing" class="icon-bar"></span>
      <span routerLink="/mailing" class="icon-bar"></span>
      <span routerLink="/mailing" class="icon-bar"></span>
    </label>
    <a class="logo" routerLink="/mailing">
      <span>Elejase Inbox</span>
    </a>

  </div>
  <div class="right-container">
    <nav class="menus">
      <ul>
        <li>
          <a routerLink="/mailing">
            <i class="fa fa-comment"></i>
          </a>
        </li>
        <li>
          <a routerLink="/mailing">
            <i class="fa fa-th"></i>
          </a>
        </li>
        <li>
          <a routerLink="/mailing">
            <i class="fa fa-bell"></i>
          </a>
        </li>
        <li>
          <a class="link-image" routerLink="/mailing">
            <img src="https://lh4.googleusercontent.com/-GXmmnYTuWkg/AAAAAAAAAAI/AAAAAAAAAAA/oK6DEDS7grM/w56-h56/photo.jpg" /></a>
          <div class="dropdown">
            <div class="dropdown-item default">
              <img src="http://lh4.googleusercontent.com/-GXmmnYTuWkg/AAAAAAAAAAI/AAAAAAAAAAA/BWJYqc4xTsU/s96-c/photo.jpg" alt="" />
              <div class="profile-content">
                <div><b>Sathish Kumar</b></div>
                <div>sathislxg@gmail.com</div>
                <div><a href="#">Account</a> - <a href="#">Privacy</a></div>
                <div><a href="#" class="click">View Profile</a></div>
              </div>
            </div>
            <div class="dropdown-item">
              <a class="profile-item" href="">
                <img src="https://lh3.googleusercontent.com/-gR6Xo5_uP8s/AAAAAAAAAAI/AAAAAAAAAAA/5CTZklN08qY/s48-c/photo.jpg" />
                <div class="profile-content">
                  <div>Sathish Kumar Thangaraj</div>
                  <div class="email">Sathishlxg@gmail.com (default)</div>
                </div>
              </a>
            </div>
            <div class="dropdown-item">
              <a class="profile-item" href="">
                <img src="https://lh4.googleusercontent.com/-GXmmnYTuWkg/AAAAAAAAAAI/AAAAAAAAAAA/oK6DEDS7grM/w56-h56/photo.jpg" />
                <div class="profile-content">
                  <div class="default-name">Sathish Kumar</div>
                  <div class="email">Sathislxg@gmail.com</div>
                </div>
              </a>
            </div>
            <div class="dropdown-item">
              <a class="default-btn pull-left" href="#">Add account</a>
              <a class="default-btn pull-right" href="#">Sign out</a>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </div>
  <div class="center-container">
    <div class="search-wrapper">
      <div class="search-box">
        <input type="text" placeholder="Search" spellcheck="false">
      </div>
      <div class="chk-pin">
        <label>
          <input type="checkbox" /><span></span></label>
      </div>
    </div>
  </div>
</div>






<!--end header-->


<div class="body-wrapper">
  <article class="search-result search-hide"></article>
  <nav class="sidebar hide">
    <ul>
      <li>
        <a href="#" class="inbox">
          <i class="fa fa-thumb-tack fa-lg color-blue"></i>
          <span>Entrada</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-send-o fa-lg color-cyan"></i>
          <span>Enviados</span>
        </a>
      </li>
      <li>
        <a href="#" class="snooz">
          <i class="fa fa-clock-o fa-lg color-amber"></i>
          <span>Sinalizados</span>
        </a>
      </li>
      <li>
        <a href="#" class="done">
          <i class="fa fa-check fa-lg color-green"></i>
          <span>Completos</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-trash fa-lg"></i>
          <span>Lixo</span>
        </a>
      </li>
      <li>
        <input type="checkbox" id="drop-menu">
        <label for="drop-menu" class="sub-menu">
          <i class="fa fa-cog fa-lg"></i>
          <span>Configurações</span>
        </label>
        <ul>
          <li>
            <a href="#" class="reminder">
              <i class="fa fa-hand-o-up fa-lg"></i>
              <span>Reminders</span>
            </a>
          </li>
          <li>
            <a href="#" class="spam">
              <i class="fa fa-warning fa-lg color-red"></i>
              <span>Spam</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <article>
    <div class="floating-btn">
      <div class="btn-wrapper">
        <button class="action-btn"></button>
        <span class="action-popover">Compose</span>
      </div>
      <ul class="floating-menus">
        <li>
          <button>
            <img src="https://lh4.googleusercontent.com/-GXmmnYTuWkg/AAAAAAAAAAI/AAAAAAAAAAA/oK6DEDS7grM/w56-h56/photo.jpg" />
            <span class="action-popover">guabirabaDev</span>
          </button>
        </li>
        <li>
          <button>
            <img src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/avatars/avatar_tile_a_56.png" />
            <span class="action-popover">guabirabaDev</span>
          </button>
        </li>
        <li>
          <button>
            <img src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/avatars/avatar_tile_k_56.png" />
            <span class="action-popover">guabirabaDev</span>
          </button>
        </li>
        <li>
          <button>
            <img src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/avatars/avatar_tile_s_56.png" />
            <span class="action-popover">guabirabaDev</span>
          </button>
        </li>
        <li>
          <button class="invite-action">
            <img src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/ic_invite_wht_24dp_r1.png" />
            <span class="action-popover">guabirabaDev</span>
          </button>
        </li>
      </ul>
    </div>
  </article>
  <section>
    <!--emails com data de hoje-->
  <app-sms-today></app-sms-today>

  <app-sms-old></app-sms-old>
  </section>
</div>

<app-sms-compose></app-sms-compose>


<div class="dialog-overlay" style="display:none">
  <div class="dialog">
    <div class="dialog-content">
      <div class="dialog-header">
        <div class="title"><h3>Share Inbox by Gmail</h3></div>
      </div>
      <div class="dialog-body">
        <div>Invite a friend who wants to try Inbox. You have 10 invitations left.</div>
        <input type="text" placeholder="Email address"/><div class="border"></div>
      </div>
      <div class="dialog-footer">
        <a class="dialog-action">SEND AN INVITATION</a>
        <a>CANCEL</a>
      </div>
    </div>
  </div>
</div>