<header class="page-header">
    <div class="container-fluid">

        <h2 class="no-margin-bottom text-center">
            {{title}}
        </h2>
        <br>
        <div class="row">
            <div class="col-md-2">
        <span>
      <a routerLink="/regions/new" class="btn btn-primary">
        <i class="fa fa-plus"></i>
        Adicionar
      </a>
    </span>
            </div>

            <div class="col-md-5">
                <input type="text" class="form-control" placeholder="Buscar por nome...">
            </div>

            <div class="col-md-3">
                <select name="" id="" class="form-control">
                    <option value="">Filtros</option>
                    <option value="">Plano</option>
                    <option value="">Preço</option>
                    <option value="">Outro</option>
                    <option value="">Outro</option>
                </select>
            </div>

            <div class="col-md-2">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Exportar
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">PDF</a>
                        <a class="dropdown-item" href="#">Excell</a>
                        <a class="dropdown-item" href="#">CSV</a>
                        <a class="dropdown-item" href="#">Imagem</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="tables">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4" *ngFor="let region of regions.data">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title text-center">
                            <a routerLink="/regions/{{region.id}}">{{region.name}}</a>
                        </h4>
                    </div>
                    <div class="card-block">
                        <a routerLink="/regions/{{region.id}}/edit" class="btn btn-primary">Editar</a>
                        <a
                                (click)="delete(region.id)" class="btn btn-danger">Excluir
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <app-app-paginator
                (onChangePage)="pageChanged($event)"
                [total]="regions.total"
                [activePage]="regions.current_page"
                [totalPage]="regions.last_page"
                [resource]="'candidates'">
        </app-app-paginator>
    </div>
</section>
