<!--<div class="row">-->
    <!--<div class="col-md-12">-->
        <!--<div class="portlet light">-->
            <!--<div class="portlet-title">-->
                <!--<div class="caption">-->
                    <!--<i class="fa fa-cogs font-green-sharp"></i>-->
                    <!--<span class="caption-subject font-green-sharp bold uppercase">Novo contato</span>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="portlet-body form">-->
                <!--<br/>-->
                <!--<form role="form" (submit)="save()">-->
                <!--<div class="form-body">-->
                    <!--<div class="col col-md-6">-->
                        <!--<div class="form-group">-->
                            <!--<label>Nome</label>-->
                            <!--<div class="input-group">-->
                                <!--<span class="input-group-addon input-circle-left">-->
                                    <!--<i class="fa fa-user" aria-hidden="true"></i>-->
                                <!--</span>-->
                                <!--<input type="text" name="firistName"-->
                                <!--[(ngModel)]="contact.firistName" class="form-control input-circle-right"-->
                                <!--placeholder="Primeiro Nome">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label>Sobrenome</label>-->
                            <!--<div class="input-group">-->
                                <!--<span class="input-group-addon input-circle-left">-->
                                    <!--<i class="fa fa-user" aria-hidden="true"></i>-->
                                <!--</span>-->
                                <!--<input type="text"-->
                                <!--[(ngModel)]="contact.lastName" name="lastName" class="form-control-->
                                <!--input-circle-right" placeholder="Sobrenome">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label>E-mail</label>-->
                            <!--<div class="input-group">-->
                                <!--<span class="input-group-addon input-circle-left">-->
                                    <!--<i class="fa fa-envelope"></i>-->
                                <!--</span>-->
                                <!--<input type="sms"-->
                                <!--[(ngModel)]="politic.sms_" name="sms_" class="form-control input-circle-right"-->
                                <!--placeholder="Email">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="col col-md-6">-->
                        <!--<div class="form-group">-->
                            <!--<label>Empresa</label>-->
                            <!--<div class="input-group">-->
                                <!--<select>-->
                                    <!--<option>Selecione uma empresa</option>-->
                                    <!--<option>Brasal</option>-->
                                    <!--<option>SIMB</option>-->
                                <!--</select>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label>Endereço</label>-->
                                <!--<div class="input-group">-->
                                    <!--<span class="input-group-addon input-circle-left">-->
                                        <!--<i class="fa fa-map" aria-hidden="true"></i>-->
                                    <!--</span>-->
                                    <!--<input type="text"-->
                                    <!--[(ngModel)]="politic.address" name="address" class="form-control input-circle-right"-->
                                    <!--placeholder="Endereço">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label>Plano</label>-->
                                <!--<div class="input-group">-->
                                    <!--<span class="input-group-addon input-circle-left">-->
                                        <!--<i class="fa fa-map-marker" aria-hidden="true"></i>-->
                                    <!--</span>-->
                                    <!--<input type="text"-->
                                    <!--[(ngModel)]="politic.plan_id" name="plan_id" class="form-control input-circle-right"-->
                                    <!--placeholder="00000-000">-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col col-md-6">-->
                            <!--<div class="form-group">-->
                                <!--<label>Empresa</label>-->
                                <!--<div class="input-group">-->
                                    <!--<span class="input-group-addon input-circle-left">-->
                                        <!--<i class="fa fa-phone" aria-hidden="true"></i>-->
                                    <!--</span>-->
                                    <!--<input type="text"-->
                                    <!--[(ngModel)]="politic.telephone" name="telephone" class="form-control-->
                                    <!--input-circle-right"-->
                                    <!--placeholder="(00) 0 0000-0000">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label>Endereço</label>-->
                                <!--<div class="input-group">-->
                                    <!--<span class="input-group-addon input-circle-left">-->
                                        <!--<i class="fa fa-map" aria-hidden="true"></i>-->
                                    <!--</span>-->
                                    <!--<input type="text"-->
                                    <!--[(ngModel)]="politic.address" name="address" class="form-control input-circle-right"-->
                                    <!--placeholder="Endereço">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label>Plano</label>-->
                                <!--<div class="input-group">-->
                                    <!--<span class="input-group-addon input-circle-left">-->
                                        <!--<i class="fa fa-map-marker" aria-hidden="true"></i>-->
                                    <!--</span>-->
                                    <!--<input type="text"-->
                                    <!--[(ngModel)]="politic.plan_id" name="plan_id" class="form-control input-circle-right"-->
                                    <!--placeholder="00000-000">-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</div>-->
                    <!--<div class="form-actions">-->
                        <!--<button type="submit" class="btn blue">Cadastrar</button>-->
                        <!--<button type="reset" class="btn red">Limpar</button>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->